.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: auto;
    background-color: rgba(191, 85, 85, 0.307);
}